.Phonetic .icon {
  color: #9e6b1a;
  font-size: 20px;
  margin-right: 15px;
}

.Phonetic .text {
  opacity: 0.8;
  font-weight: bold;
  font-size: 26px;
}

@media (max-width: 486px) {
  .Phonetic .icon {
    font-size: 16px;
    margin-right: 10px;
  }

  .Phonetic .text {
    font-size: 18px;
  }
}
